.containerListPhases {
  background-color: var(--background);
  padding: 0px;
  border-radius: 10px;
  width: 85%;
  position: fixed;
  top: 180px;
  right: 30px;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
