.containerListPhases {
  background-color: var(--background);
  padding: 0px;
  border-radius: 10px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin: 5px auto 15px;
}
