.containerUsers {
  /* display: flex; */
  height: 100vh;
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  background-color: var(--background);
}

.containerUsers .contentUsers {
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.containerUsers .contentUsers .users {
  background-color: var(--background);
  border-radius: 10px;
  padding: 20px;
}
