.subBar {
  background-color: var(--white);
  color: var(--white);
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0.6;
}

.subBar h1 {
  font: 25px "Press Start 2P", sans-serif;
}
