.containerStage {
  /* display: flex; */
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  background-color: var(--background);
}

.containerStage .addQuestion {
  background-color: var(--white);
  margin: 20px 0px;
  width: 100%;
  /* height: 70vh; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.containerStage .addQuestion .slotQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerStage .addQuestion .slotQuestion h2 {
  width: 20%;
}

.containerStage .addQuestion .slotQuestion input {
  border-radius: 10px;
}

.containerStage .addQuestion .slotQuestion select {
  border-radius: 10px;
}
