.containerStageLink {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /* padding: 10px; */
  /* justify-content: center; */
}

.containerStageLink .contentStageLink {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerStageLink .contentStageLink button {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  outline: hidden;
  border: none;
  transform: opacity 0.2s;
}

.contentStageLink button:hover {
  opacity: 0.6;
}

.containerStageLink .contentStageLink button .leftStageLink {
  display: flex;
  align-items: center;
}

.containerStageLink .contentStageLink button .leftStageLink h1 {
  margin-left: 30px;
}
