.containerListUser {
  background-color: var(--background);
  padding: 10px;
  border-radius: 10px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerListUser .contentListUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerListUser img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.containerListUser .editButton {
  position: relative;
  right: 5px;
  top: -35px;
  background: transparent;
  border: 0;
  font-size: 0px;
}
